# Ignore Maven & Gradle build files and target directories
target/
*.iml
.gradle/
build/
out/
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store

# Environment files
*.env
.env

# Ignore compiled files
*.class
*.jar
*.war
*.ear

.vscode
.claude